@tailwind base;
@tailwind components;
@tailwind utilities;

@use './styles/tokens.scss';
@use './styles/motion.scss';

/* 全局基础 */
page {
  background-color: #faf6f0;
  color: #4a413a;
  font-size: 28rpx;
}
